<div class="custom_discount_wrapper">
<div class="discount-wrapper">
  <div class="discount-toggle" id="discountToggle" role="button" tabindex="0" aria-expanded="false">
    <span class="first_text_wrapper"> <span class="svg_icon"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
<path d="M6.00698 1.44386C6.13202 1.30421 6.28511 1.19249 6.45625 1.11601C6.62739 1.03953 6.81273 1 7.00019 1C7.18764 1 7.37298 1.03953 7.54412 1.11601C7.71526 1.19249 7.86835 1.30421 7.99339 1.44386L8.46 1.96512C8.59336 2.1141 8.75852 2.23118 8.94325 2.30768C9.12798 2.38418 9.32756 2.41815 9.5272 2.40707L10.2271 2.36841C10.4143 2.35809 10.6016 2.38737 10.7767 2.45434C10.9518 2.52132 11.1109 2.62448 11.2434 2.75708C11.3759 2.88969 11.479 3.04876 11.5459 3.22391C11.6128 3.39907 11.642 3.58636 11.6316 3.77356L11.5929 4.4728C11.582 4.67233 11.616 4.87178 11.6925 5.05639C11.769 5.241 11.886 5.40605 12.0349 5.53933L12.5561 6.00594C12.6959 6.13099 12.8077 6.28411 12.8843 6.45531C12.9608 6.62652 13.0004 6.81194 13.0004 6.99948C13.0004 7.18702 12.9608 7.37244 12.8843 7.54364C12.8077 7.71485 12.6959 7.86797 12.5561 7.99302L12.0349 8.45963C11.8859 8.59298 11.7688 8.75814 11.6923 8.94288C11.6158 9.12761 11.5819 9.32718 11.5929 9.52682L11.6316 10.2267C11.6419 10.4139 11.6126 10.6012 11.5457 10.7763C11.4787 10.9515 11.3755 11.1105 11.2429 11.243C11.1103 11.3756 10.9512 11.4787 10.7761 11.5455C10.6009 11.6124 10.4136 11.6416 10.2264 11.6312L9.5272 11.5926C9.32767 11.5816 9.12822 11.6156 8.94361 11.6921C8.759 11.7686 8.59395 11.8856 8.46067 12.0345L7.99406 12.5558C7.86901 12.6955 7.71589 12.8073 7.54468 12.8839C7.37348 12.9604 7.18806 13 7.00052 13C6.81298 13 6.62756 12.9604 6.45635 12.8839C6.28515 12.8073 6.13203 12.6955 6.00698 12.5558L5.54037 12.0345C5.40702 11.8855 5.24186 11.7685 5.05712 11.6919C4.87239 11.6154 4.67281 11.5815 4.47318 11.5926L3.77327 11.6312C3.58606 11.6415 3.39878 11.6123 3.22366 11.5453C3.04854 11.4783 2.88952 11.3752 2.75697 11.2425C2.62443 11.1099 2.52135 10.9509 2.45445 10.7757C2.38756 10.6006 2.35837 10.4133 2.36878 10.2261L2.40744 9.52682C2.41842 9.32729 2.3844 9.12785 2.3079 8.94324C2.2314 8.75863 2.11438 8.59358 1.9655 8.46029L1.44423 7.99369C1.30447 7.86864 1.19266 7.71551 1.11611 7.54431C1.03957 7.37311 1 7.18768 1 7.00015C1 6.81261 1.03957 6.62718 1.11611 6.45598C1.19266 6.28478 1.30447 6.13165 1.44423 6.00661L1.9655 5.54C2.11447 5.40664 2.23155 5.24148 2.30805 5.05675C2.38455 4.87202 2.41852 4.67244 2.40744 4.4728L2.36878 3.77289C2.35856 3.58574 2.38791 3.39854 2.45493 3.2235C2.52195 3.04846 2.62512 2.88952 2.75772 2.75705C2.89031 2.62457 3.04935 2.52155 3.22445 2.4547C3.39956 2.38785 3.58679 2.35867 3.77393 2.36907L4.47318 2.40773C4.67271 2.41871 4.87215 2.38469 5.05676 2.3082C5.24137 2.2317 5.40642 2.11468 5.53971 1.96579L6.00698 1.44386Z" stroke="#58B44E" stroke-width="1.5"/>
<path d="M5.33398 5.33337H5.34065V5.34004H5.33398V5.33337ZM8.66689 8.66628H8.67356V8.67295H8.66689V8.66628Z" stroke="#58B44E" stroke-width="2.25" stroke-linejoin="round"/>
<path d="M8.99949 5.00006L5 8.99955" stroke="#58B44E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span> <span class="discount_text">{{ settings.text_wid }}</span></span>
    <span class="view-offers"><span class="view_text">{{ settings.offer_text }}</span> <span class="svg_bag_text"><svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" viewBox="0 0 9 7" fill="none">
<path d="M1 3.60002H8M8 3.60002L5.55 6.05002M8 3.60002L5.55 1.15002" stroke="#58B44E" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span></span>
  </div>

<div class="disount_popup" style="display:none;">
  <div class="discount_popup_header">
    <div class="discount_popup_header_wrapper">
      <div class="text_wrapper_icon">
        <span class="back_svg_dis">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
<path d="M0.882353 7.11771L6.49847 12.7338M0.882353 7.11771L6.49847 1.50159M0.882353 7.11771H14" stroke="black" stroke-width="1.60461" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span>
          <h3 class="cupon_text">{{ settings.dis_popup_heading }}</h3>
      </div>

      <div class="cart_total_price">
        <span class="text_cart">{{ settings.value_text }}</span> - <span>{{ cart.total_price | money_with_currency }}</span>
      </div>
    </div>
  </div>

<div class="apply_discount_widget">
  <div class="wrapper_disound_widget_main">
  <div class="wrapper_disound_widget">
    <div class="widget_wrapper">
      <div class="svg_wrp_sp"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<path d="M7.25853 1.5548C7.41483 1.38025 7.60618 1.24061 7.8201 1.14501C8.03402 1.04941 8.26569 1 8.5 1C8.73431 1 8.96598 1.04941 9.1799 1.14501C9.39382 1.24061 9.58517 1.38025 9.74147 1.5548L10.3247 2.20637C10.4914 2.39258 10.6978 2.53892 10.9288 2.63455C11.1597 2.73017 11.4091 2.77263 11.6587 2.75878L12.5335 2.71045C12.7675 2.69755 13.0016 2.73416 13.2205 2.81787C13.4394 2.90159 13.6382 3.03053 13.8038 3.19629C13.9695 3.36204 14.0984 3.56087 14.182 3.77981C14.2656 3.99874 14.3021 4.23285 14.2891 4.46684L14.2408 5.34087C14.227 5.59027 14.2696 5.83957 14.3652 6.07033C14.4608 6.30108 14.6071 6.50739 14.7932 6.67399L15.4447 7.25723C15.6194 7.41353 15.7592 7.60494 15.8549 7.81893C15.9505 8.03293 16 8.2647 16 8.49912C16 8.73353 15.9505 8.96531 15.8549 9.1793C15.7592 9.3933 15.6194 9.5847 15.4447 9.741L14.7932 10.3242C14.6069 10.4909 14.4606 10.6974 14.365 10.9283C14.2694 11.1592 14.2269 11.4087 14.2408 11.6582L14.2891 12.5331C14.302 12.7671 14.2654 13.0011 14.1817 13.22C14.0979 13.4389 13.969 13.6377 13.8032 13.8034C13.6375 13.9691 13.4387 14.0979 13.2197 14.1815C13.0008 14.2651 12.7667 14.3016 12.5327 14.2886L11.6587 14.2403C11.4093 14.2266 11.16 14.2691 10.9292 14.3647C10.6985 14.4603 10.4921 14.6066 10.3255 14.7927L9.7423 15.4443C9.586 15.619 9.3946 15.7587 9.1806 15.8544C8.9666 15.9501 8.73483 15.9995 8.50042 15.9995C8.266 15.9995 8.03423 15.9501 7.82023 15.8544C7.60623 15.7587 7.41483 15.619 7.25853 15.4443L6.67529 14.7927C6.5086 14.6065 6.30215 14.4601 6.07125 14.3645C5.84034 14.2689 5.59088 14.2264 5.34133 14.2403L4.46647 14.2886C4.23247 14.3015 3.99838 14.2649 3.77949 14.1812C3.5606 14.0975 3.36182 13.9685 3.19615 13.8028C3.03047 13.637 2.90162 13.4382 2.81801 13.2193C2.7344 13.0003 2.69791 12.7662 2.71092 12.5322L2.75925 11.6582C2.77297 11.4088 2.73045 11.1595 2.63483 10.9287C2.53921 10.698 2.39294 10.4917 2.20683 10.3251L1.55527 9.74184C1.38057 9.58553 1.24082 9.39413 1.14514 9.18013C1.04946 8.96614 1 8.73436 1 8.49995C1 8.26554 1.04946 8.03376 1.14514 7.81977C1.24082 7.60577 1.38057 7.41437 1.55527 7.25806L2.20683 6.67482C2.39305 6.50813 2.53939 6.30169 2.63501 6.07078C2.73063 5.83987 2.77309 5.59041 2.75925 5.34087L2.71092 4.46601C2.69814 4.23208 2.73483 3.99808 2.8186 3.77929C2.90237 3.56049 3.03134 3.36182 3.19708 3.19624C3.36282 3.03066 3.56161 2.90188 3.78048 2.81832C3.99935 2.73476 4.23339 2.69829 4.46731 2.71129L5.34133 2.75961C5.59074 2.77333 5.84004 2.73081 6.07079 2.63519C6.30155 2.53958 6.50785 2.3933 6.67446 2.2072L7.25853 1.5548Z" stroke="#58B44E" stroke-width="1.24996"/>
<path d="M6.41797 6.4165H6.4263V6.42484H6.41797V6.4165ZM10.584 10.5825H10.5923V10.5908H10.584V10.5825Z" stroke="#58B44E" stroke-width="1.24996" stroke-linejoin="round"/>
<path d="M10.9992 5.99988L6 10.9991" stroke="#58B44E" stroke-width="1.24996" stroke-linecap="round" stroke-linejoin="round"/>
</svg></div>
<h3 class="discount_widget_text">{{settings.discount_widget_title }}</h3>
    </div>

    <div class="svg_wrp_icon"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none">
<path d="M0.785156 4.59998H12.2137M12.2137 4.59998L8.21373 8.59998M12.2137 4.59998L8.21373 0.599976" stroke="#58B44E" stroke-linecap="round" stroke-linejoin="round"/>
</svg></div>


  </div>
</div>
<div class="discount-input" id="discountInput" aria-hidden="true">
  <div class="wrapper_input_and_button">
    <input type="text" id="discountField" placeholder="Enter discount code" />
    <button id="applyDiscount">Apply</button>
  </div>
    {% comment %} <button id="cancelDiscount" class="cancel">Cancel</button> {% endcomment %}
  </div> 
</div>



{%- if cart.cart_level_discount_applications.size > 0 -%}

  <div class="custom_wrapper_discoun_box">
  <div class="cart-discounts-box open">
    <div class="cart-discounts-header">



      <svg class="discount-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<path d="M7.25853 1.5548C7.41483 1.38025 7.60618 1.24061 7.8201 1.14501C8.03402 1.04941 8.26569 1 8.5 1C8.73431 1 8.96598 1.04941 9.1799 1.14501C9.39382 1.24061 9.58517 1.38025 9.74147 1.5548L10.3247 2.20637C10.4914 2.39258 10.6978 2.53892 10.9288 2.63455C11.1597 2.73017 11.4091 2.77263 11.6587 2.75878L12.5335 2.71045C12.7675 2.69755 13.0016 2.73416 13.2205 2.81787C13.4394 2.90159 13.6382 3.03053 13.8038 3.19629C13.9695 3.36204 14.0984 3.56087 14.182 3.77981C14.2656 3.99874 14.3021 4.23285 14.2891 4.46684L14.2408 5.34087C14.227 5.59027 14.2696 5.83957 14.3652 6.07033C14.4608 6.30108 14.6071 6.50739 14.7932 6.67399L15.4447 7.25723C15.6194 7.41353 15.7592 7.60494 15.8549 7.81893C15.9505 8.03293 16 8.2647 16 8.49912C16 8.73353 15.9505 8.96531 15.8549 9.1793C15.7592 9.3933 15.6194 9.5847 15.4447 9.741L14.7932 10.3242C14.6069 10.4909 14.4606 10.6974 14.365 10.9283C14.2694 11.1592 14.2269 11.4087 14.2408 11.6582L14.2891 12.5331C14.302 12.7671 14.2654 13.0011 14.1817 13.22C14.0979 13.4389 13.969 13.6377 13.8032 13.8034C13.6375 13.9691 13.4387 14.0979 13.2197 14.1815C13.0008 14.2651 12.7667 14.3016 12.5327 14.2886L11.6587 14.2403C11.4093 14.2266 11.16 14.2691 10.9292 14.3647C10.6985 14.4603 10.4921 14.6066 10.3255 14.7927L9.7423 15.4443C9.586 15.619 9.3946 15.7587 9.1806 15.8544C8.9666 15.9501 8.73483 15.9995 8.50042 15.9995C8.266 15.9995 8.03423 15.9501 7.82023 15.8544C7.60623 15.7587 7.41483 15.619 7.25853 15.4443L6.67529 14.7927C6.5086 14.6065 6.30215 14.4601 6.07125 14.3645C5.84034 14.2689 5.59088 14.2264 5.34133 14.2403L4.46647 14.2886C4.23247 14.3015 3.99838 14.2649 3.77949 14.1812C3.5606 14.0975 3.36182 13.9685 3.19615 13.8028C3.03047 13.637 2.90162 13.4382 2.81801 13.2193C2.7344 13.0003 2.69791 12.7662 2.71092 12.5322L2.75925 11.6582C2.77297 11.4088 2.73045 11.1595 2.63483 10.9287C2.53921 10.698 2.39294 10.4917 2.20683 10.3251L1.55527 9.74184C1.38057 9.58553 1.24082 9.39413 1.14514 9.18013C1.04946 8.96614 1 8.73436 1 8.49995C1 8.26554 1.04946 8.03376 1.14514 7.81977C1.24082 7.60577 1.38057 7.41437 1.55527 7.25806L2.20683 6.67482C2.39305 6.50813 2.53939 6.30169 2.63501 6.07078C2.73063 5.83987 2.77309 5.59041 2.75925 5.34087L2.71092 4.46601C2.69814 4.23208 2.73483 3.99808 2.8186 3.77929C2.90237 3.56049 3.03134 3.36182 3.19708 3.19624C3.36282 3.03066 3.56161 2.90188 3.78048 2.81832C3.99935 2.73476 4.23339 2.69829 4.46731 2.71129L5.34133 2.75961C5.59074 2.77333 5.84004 2.73081 6.07079 2.63519C6.30155 2.53958 6.50785 2.3933 6.67446 2.2072L7.25853 1.5548Z" stroke="#58B44E" stroke-width="1.24996"/>
</svg>
      <span>
        
        {{ cart.cart_level_discount_applications | map: 'total_allocated_amount' | sum | money }} total savings –
        {{ cart.cart_level_discount_applications | size }} applied  
      </span>
      <button class="discount-toggle" aria-label="Toggle discounts">
       <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
<path d="M9 5L5 1L1 5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
      </button>
    </div>

    <ul class="cart-discounts-list">
      {% for discount_application in cart.cart_level_discount_applications %}
        <li class="cart-discount-item">
          <span class="discount-title">{{ discount_application.title }}</span>
<div class="wrpper_text_andremove_iocn">
          <span class="discount-amount">
            -{{ discount_application.total_allocated_amount  }}
          </span>
          {% if discount_application.type == 'discount_code' %}
            <button type="button" class="cart-discount-remove"  data-discount="{{ discount_application.title }}" 
    aria-label="Remove discount">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<circle cx="9.5" cy="9.5" r="9" stroke="black"/>
<path d="M12.6673 6.33337L6.33398 12.6667L12.6673 6.33337ZM6.33398 6.33337L12.6673 12.6667L6.33398 6.33337Z" fill="white"/>
<path d="M12.6673 6.33337L6.33398 12.6667M6.33398 6.33337L12.6673 12.6667" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            </button>
          {% endif %}
</div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div class="remove_discount_popups" style="display:none;">
  <div class="wrapper_remove_discount">
     <div class="modal" id="couponModal">
    <button class="modal-close" onclick="closeModal()"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
<circle cx="10.5" cy="10.5" r="10.5" fill="black"/>
<path d="M14 7L7 14L14 7ZM7 7L14 14L7 7Z" fill="white"/>
<path d="M14 7L7 14M7 7L14 14" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></button>

    <div class="modal-title">{{settings.bundle_remove_heading }}</div>
    <div class="modal-description">
      {{settings.modal_texts }}
    </div>

    <div class="modal-buttons">
      <button class="modal-button primary" data-discount="">{{settings.button-text-one-bunle }}</button>
      <button class="modal-button secondary">{{settings.button-text-two-bunle }}</button>
    </div>
  </div>
  </div>
</div>

{%- endif -%}

<div class="custom_discount_wrapper_main_cards">
  

{% assign v1 = '' %}
  {% assign v2 = '' %}
  {% assign v3 = '' %}

  {% for discount_application in cart.cart_level_discount_applications %}
    {% if forloop.index == 1 %}
      {% assign v1 = discount_application.title %}
    {% elsif forloop.index == 2 %}
      {% assign v2 = discount_application.title %}
    {% elsif forloop.index == 3 %}
      {% assign v3 = discount_application.title %}
    {% endif %}
  {% endfor %}



<div class="custom-discount-wrapper">

  {%if v1 == settings.coupon_code1 %}
    {%else %}
  <div class="discount-card" data-discount="DISCOUNT1">
    <div class="discount-header"><span class="icon_svd_img"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<path d="M7.25853 1.5548C7.41483 1.38025 7.60618 1.24061 7.8201 1.14501C8.03402 1.04941 8.26569 1 8.5 1C8.73431 1 8.96598 1.04941 9.1799 1.14501C9.39382 1.24061 9.58517 1.38025 9.74147 1.5548L10.3247 2.20637C10.4914 2.39258 10.6978 2.53892 10.9288 2.63455C11.1597 2.73017 11.4091 2.77263 11.6587 2.75878L12.5335 2.71045C12.7675 2.69755 13.0016 2.73416 13.2205 2.81787C13.4394 2.90159 13.6382 3.03053 13.8038 3.19629C13.9695 3.36204 14.0984 3.56087 14.182 3.77981C14.2656 3.99874 14.3021 4.23285 14.2891 4.46684L14.2408 5.34087C14.227 5.59027 14.2696 5.83957 14.3652 6.07033C14.4608 6.30108 14.6071 6.50739 14.7932 6.67399L15.4447 7.25723C15.6194 7.41353 15.7592 7.60494 15.8549 7.81893C15.9505 8.03293 16 8.2647 16 8.49912C16 8.73353 15.9505 8.96531 15.8549 9.1793C15.7592 9.3933 15.6194 9.5847 15.4447 9.741L14.7932 10.3242C14.6069 10.4909 14.4606 10.6974 14.365 10.9283C14.2694 11.1592 14.2269 11.4087 14.2408 11.6582L14.2891 12.5331C14.302 12.7671 14.2654 13.0011 14.1817 13.22C14.0979 13.4389 13.969 13.6377 13.8032 13.8034C13.6375 13.9691 13.4387 14.0979 13.2197 14.1815C13.0008 14.2651 12.7667 14.3016 12.5327 14.2886L11.6587 14.2403C11.4093 14.2266 11.16 14.2691 10.9292 14.3647C10.6985 14.4603 10.4921 14.6066 10.3255 14.7927L9.7423 15.4443C9.586 15.619 9.3946 15.7587 9.1806 15.8544C8.9666 15.9501 8.73483 15.9995 8.50042 15.9995C8.266 15.9995 8.03423 15.9501 7.82023 15.8544C7.60623 15.7587 7.41483 15.619 7.25853 15.4443L6.67529 14.7927C6.5086 14.6065 6.30215 14.4601 6.07125 14.3645C5.84034 14.2689 5.59088 14.2264 5.34133 14.2403L4.46647 14.2886C4.23247 14.3015 3.99838 14.2649 3.77949 14.1812C3.5606 14.0975 3.36182 13.9685 3.19615 13.8028C3.03047 13.637 2.90162 13.4382 2.81801 13.2193C2.7344 13.0003 2.69791 12.7662 2.71092 12.5322L2.75925 11.6582C2.77297 11.4088 2.73045 11.1595 2.63483 10.9287C2.53921 10.698 2.39294 10.4917 2.20683 10.3251L1.55527 9.74184C1.38057 9.58553 1.24082 9.39413 1.14514 9.18013C1.04946 8.96614 1 8.73436 1 8.49995C1 8.26554 1.04946 8.03376 1.14514 7.81977C1.24082 7.60577 1.38057 7.41437 1.55527 7.25806L2.20683 6.67482C2.39305 6.50813 2.53939 6.30169 2.63501 6.07078C2.73063 5.83987 2.77309 5.59041 2.75925 5.34087L2.71092 4.46601C2.69814 4.23208 2.73483 3.99808 2.8186 3.77929C2.90237 3.56049 3.03134 3.36182 3.19708 3.19624C3.36282 3.03066 3.56161 2.90188 3.78048 2.81832C3.99935 2.73476 4.23339 2.69829 4.46731 2.71129L5.34133 2.75961C5.59074 2.77333 5.84004 2.73081 6.07079 2.63519C6.30155 2.53958 6.50785 2.3933 6.67446 2.2072L7.25853 1.5548Z" stroke="black" stroke-width="1.24996"/>
<path d="M6.41797 6.4165H6.4263V6.42484H6.41797V6.4165ZM10.584 10.5825H10.5923V10.5908H10.584V10.5825Z" stroke="black" stroke-width="1.24996" stroke-linejoin="round"/>
<path d="M10.9992 5.99988L6 10.9991" stroke="black" stroke-width="1.24996" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span><span class="text_">{{settings.card_heading1 }}</span></div>
    <div class="discount-body">
      <div class="discount-body_wrapper">
      <div class="flat_text">{{settings.off_text1 }}</div>
      <div class="order_text">{{settings.order_text1 }}</div>
      </div>
      <button class="apply-discount-btn" cupoun_code="{{settings.coupon_code1 }}">{{settings.btn_text1 }}</button>
    </div>
  </div>
{% endif %}
 {%if v2 == settings.coupon_code2 %}
    {%else %}
  <div class="discount-card" data-discount="DISCOUNT2">
    <div class="discount-header"><span class="icon_svd_img"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<path d="M7.25853 1.5548C7.41483 1.38025 7.60618 1.24061 7.8201 1.14501C8.03402 1.04941 8.26569 1 8.5 1C8.73431 1 8.96598 1.04941 9.1799 1.14501C9.39382 1.24061 9.58517 1.38025 9.74147 1.5548L10.3247 2.20637C10.4914 2.39258 10.6978 2.53892 10.9288 2.63455C11.1597 2.73017 11.4091 2.77263 11.6587 2.75878L12.5335 2.71045C12.7675 2.69755 13.0016 2.73416 13.2205 2.81787C13.4394 2.90159 13.6382 3.03053 13.8038 3.19629C13.9695 3.36204 14.0984 3.56087 14.182 3.77981C14.2656 3.99874 14.3021 4.23285 14.2891 4.46684L14.2408 5.34087C14.227 5.59027 14.2696 5.83957 14.3652 6.07033C14.4608 6.30108 14.6071 6.50739 14.7932 6.67399L15.4447 7.25723C15.6194 7.41353 15.7592 7.60494 15.8549 7.81893C15.9505 8.03293 16 8.2647 16 8.49912C16 8.73353 15.9505 8.96531 15.8549 9.1793C15.7592 9.3933 15.6194 9.5847 15.4447 9.741L14.7932 10.3242C14.6069 10.4909 14.4606 10.6974 14.365 10.9283C14.2694 11.1592 14.2269 11.4087 14.2408 11.6582L14.2891 12.5331C14.302 12.7671 14.2654 13.0011 14.1817 13.22C14.0979 13.4389 13.969 13.6377 13.8032 13.8034C13.6375 13.9691 13.4387 14.0979 13.2197 14.1815C13.0008 14.2651 12.7667 14.3016 12.5327 14.2886L11.6587 14.2403C11.4093 14.2266 11.16 14.2691 10.9292 14.3647C10.6985 14.4603 10.4921 14.6066 10.3255 14.7927L9.7423 15.4443C9.586 15.619 9.3946 15.7587 9.1806 15.8544C8.9666 15.9501 8.73483 15.9995 8.50042 15.9995C8.266 15.9995 8.03423 15.9501 7.82023 15.8544C7.60623 15.7587 7.41483 15.619 7.25853 15.4443L6.67529 14.7927C6.5086 14.6065 6.30215 14.4601 6.07125 14.3645C5.84034 14.2689 5.59088 14.2264 5.34133 14.2403L4.46647 14.2886C4.23247 14.3015 3.99838 14.2649 3.77949 14.1812C3.5606 14.0975 3.36182 13.9685 3.19615 13.8028C3.03047 13.637 2.90162 13.4382 2.81801 13.2193C2.7344 13.0003 2.69791 12.7662 2.71092 12.5322L2.75925 11.6582C2.77297 11.4088 2.73045 11.1595 2.63483 10.9287C2.53921 10.698 2.39294 10.4917 2.20683 10.3251L1.55527 9.74184C1.38057 9.58553 1.24082 9.39413 1.14514 9.18013C1.04946 8.96614 1 8.73436 1 8.49995C1 8.26554 1.04946 8.03376 1.14514 7.81977C1.24082 7.60577 1.38057 7.41437 1.55527 7.25806L2.20683 6.67482C2.39305 6.50813 2.53939 6.30169 2.63501 6.07078C2.73063 5.83987 2.77309 5.59041 2.75925 5.34087L2.71092 4.46601C2.69814 4.23208 2.73483 3.99808 2.8186 3.77929C2.90237 3.56049 3.03134 3.36182 3.19708 3.19624C3.36282 3.03066 3.56161 2.90188 3.78048 2.81832C3.99935 2.73476 4.23339 2.69829 4.46731 2.71129L5.34133 2.75961C5.59074 2.77333 5.84004 2.73081 6.07079 2.63519C6.30155 2.53958 6.50785 2.3933 6.67446 2.2072L7.25853 1.5548Z" stroke="black" stroke-width="1.24996"/>
<path d="M6.41797 6.4165H6.4263V6.42484H6.41797V6.4165ZM10.584 10.5825H10.5923V10.5908H10.584V10.5825Z" stroke="black" stroke-width="1.24996" stroke-linejoin="round"/>
<path d="M10.9992 5.99988L6 10.9991" stroke="black" stroke-width="1.24996" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span><span class="text_">{{settings.card_heading2 }}</span></div>
    <div class="discount-body">
      <div class="discount-body_wrapper">
      <div class="flat_text">{{settings.off_text2 }}</div>
      <div class="order_text">{{settings.order_text2 }}</div>
      </div>
      <button class="apply-discount-btn" cupoun_code="{{settings.coupon_code2 }}">{{settings.btn_text2 }}</button>
    </div>
  </div>
{%endif %}
 {%if v3 == settings.coupon_code3 %}
    {%else %}
<div class="discount-card" data-discount="DISCOUNT3">
    <div class="discount-header"><span class="icon_svd_img"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<path d="M7.25853 1.5548C7.41483 1.38025 7.60618 1.24061 7.8201 1.14501C8.03402 1.04941 8.26569 1 8.5 1C8.73431 1 8.96598 1.04941 9.1799 1.14501C9.39382 1.24061 9.58517 1.38025 9.74147 1.5548L10.3247 2.20637C10.4914 2.39258 10.6978 2.53892 10.9288 2.63455C11.1597 2.73017 11.4091 2.77263 11.6587 2.75878L12.5335 2.71045C12.7675 2.69755 13.0016 2.73416 13.2205 2.81787C13.4394 2.90159 13.6382 3.03053 13.8038 3.19629C13.9695 3.36204 14.0984 3.56087 14.182 3.77981C14.2656 3.99874 14.3021 4.23285 14.2891 4.46684L14.2408 5.34087C14.227 5.59027 14.2696 5.83957 14.3652 6.07033C14.4608 6.30108 14.6071 6.50739 14.7932 6.67399L15.4447 7.25723C15.6194 7.41353 15.7592 7.60494 15.8549 7.81893C15.9505 8.03293 16 8.2647 16 8.49912C16 8.73353 15.9505 8.96531 15.8549 9.1793C15.7592 9.3933 15.6194 9.5847 15.4447 9.741L14.7932 10.3242C14.6069 10.4909 14.4606 10.6974 14.365 10.9283C14.2694 11.1592 14.2269 11.4087 14.2408 11.6582L14.2891 12.5331C14.302 12.7671 14.2654 13.0011 14.1817 13.22C14.0979 13.4389 13.969 13.6377 13.8032 13.8034C13.6375 13.9691 13.4387 14.0979 13.2197 14.1815C13.0008 14.2651 12.7667 14.3016 12.5327 14.2886L11.6587 14.2403C11.4093 14.2266 11.16 14.2691 10.9292 14.3647C10.6985 14.4603 10.4921 14.6066 10.3255 14.7927L9.7423 15.4443C9.586 15.619 9.3946 15.7587 9.1806 15.8544C8.9666 15.9501 8.73483 15.9995 8.50042 15.9995C8.266 15.9995 8.03423 15.9501 7.82023 15.8544C7.60623 15.7587 7.41483 15.619 7.25853 15.4443L6.67529 14.7927C6.5086 14.6065 6.30215 14.4601 6.07125 14.3645C5.84034 14.2689 5.59088 14.2264 5.34133 14.2403L4.46647 14.2886C4.23247 14.3015 3.99838 14.2649 3.77949 14.1812C3.5606 14.0975 3.36182 13.9685 3.19615 13.8028C3.03047 13.637 2.90162 13.4382 2.81801 13.2193C2.7344 13.0003 2.69791 12.7662 2.71092 12.5322L2.75925 11.6582C2.77297 11.4088 2.73045 11.1595 2.63483 10.9287C2.53921 10.698 2.39294 10.4917 2.20683 10.3251L1.55527 9.74184C1.38057 9.58553 1.24082 9.39413 1.14514 9.18013C1.04946 8.96614 1 8.73436 1 8.49995C1 8.26554 1.04946 8.03376 1.14514 7.81977C1.24082 7.60577 1.38057 7.41437 1.55527 7.25806L2.20683 6.67482C2.39305 6.50813 2.53939 6.30169 2.63501 6.07078C2.73063 5.83987 2.77309 5.59041 2.75925 5.34087L2.71092 4.46601C2.69814 4.23208 2.73483 3.99808 2.8186 3.77929C2.90237 3.56049 3.03134 3.36182 3.19708 3.19624C3.36282 3.03066 3.56161 2.90188 3.78048 2.81832C3.99935 2.73476 4.23339 2.69829 4.46731 2.71129L5.34133 2.75961C5.59074 2.77333 5.84004 2.73081 6.07079 2.63519C6.30155 2.53958 6.50785 2.3933 6.67446 2.2072L7.25853 1.5548Z" stroke="black" stroke-width="1.24996"/>
<path d="M6.41797 6.4165H6.4263V6.42484H6.41797V6.4165ZM10.584 10.5825H10.5923V10.5908H10.584V10.5825Z" stroke="black" stroke-width="1.24996" stroke-linejoin="round"/>
<path d="M10.9992 5.99988L6 10.9991" stroke="black" stroke-width="1.24996" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span><span class="text_">{{settings.card_heading3 }}</span></div>
    <div class="discount-body">
      <div class="discount-body_wrapper">
      <div class="flat_text">{{settings.off_text3 }}</div>
      <div class="order_text">{{settings.order_text3 }}</div>
      </div>
      <button class="apply-discount-btn" cupoun_code="{{settings.coupon_code3 }}">{{settings.btn_text3 }}</button>
    </div>
  </div>
{% endif %}





</div>

  </div>


  






</div>
</div>






<style>
  /* Styles — keep/adjust to match your theme */
  .custom_discount_wrapper{
padding:0 20px 20px;
}
span.first_text_wrapper {
    display: flex
;
    gap: 7px;
    align-items: center;
}

span.first_text_wrapper span.svg_icon {
    position: relative;
    top: -1px;
}
.custom_discount_wrapper span.view-offers {
    display: flex
;
    gap: 7px;
    align-items: center;
}
  .discount-wrapper{ background:#f0fdf4;border-radius:5px;padding:10px;max-width:720px;}
  .discount-toggle{display:flex;justify-content:space-between;align-items:center;background:#fff;padding:10px 11px;border-radius:5px;border:1px solid #E8E8E8;cursor:pointer}
  .discount-toggle:hover{box-shadow:0 4px 10px rgba(0,0,0,.06)}
  .discount-toggle span{font-weight:600}
  .view-offers{color:#16a34a;font-weight:700}
  .discount-input{display:none;gap:10px;align-items:center}
  .discount-input input{flex:1;padding:10px;border-radius:8px;border:1px solid #d1d5db;font-size:14px}
  .discount-input button{padding:10px 14px;border-radius:8px;border:none;font-weight:700;cursor:pointer}
  #applyDiscount{background:#58B44E;color:#fff}
  #cancelDiscount{background:#fff;border:1px solid #d1d5db;margin-left:6px}
  /* Show when active */
  .discount-input.show {
    display: grid
;
    grid-template-columns: 1fr 100px;
    align-items: center;
}
  .discount-toggle span {
    font-weight: bold;
    font-size: 12px;
    font-family: 'Archivo';
    color: #000;
}

.custom_discount_wrapper .disount_popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999999;
}
.custom_discount_wrapper .discount_popup_header {
    padding: 20px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 6%);
}
.custom_discount_wrapper .text_wrapper_icon {
    display: grid
;
    align-items: center;
    grid-template-columns: 14px 1fr;
    gap: 10px;
}
.custom_discount_wrapper .cart_total_price span {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.custom_discount_wrapper span.back_svg_dis {
    cursor: pointer;
}
.custom_discount_wrapper .discount_popup_header_wrapper {
    display: flex
;
    justify-content: space-between;
}
.custom_discount_wrapper h3.cupon_text {
    margin: 0;
    font-size: 20px;
    font-family: 'Archivo';
    color: #000000;
}
.custom_discount_wrapper h3.discount_widget_text {
    margin: 0;
    font-size: 12px;
    font-family: 'Archivo', sans-serif;
    color: #000000;
    font-weight: 500;
}

.custom_discount_wrapper .apply_discount_widget {
    padding: 20px;
}

.custom_discount_wrapper .wrapper_disound_widget {
    display: flex
;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E8E8E8;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.custom_discount_wrapper .widget_wrapper {
    display: flex
;
    align-items: center;
    gap: 6px;
}

.custom_discount_wrapper .wrapper_input_and_button {
    display: grid
;
    grid-template-columns: 1fr 115px;
    gap: 10px;
    margin-top: 10px;
}






.custom_wrapper_discoun_box .cart-discounts-box {
  background: #EFF8EE;
  border-radius: 5px;
  font-size: 14px;
  color: #000000;
}



.custom_wrapper_discoun_box .cart-discounts-header {
    display: flex
;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    color: #58b44e;
    font-size: 14px;
    font-family: poppins !important;
 
    padding-bottom: 15px;
    padding:15px 12px;
}
.custom_wrapper_discoun_box .discount-icon {

  margin-right: 10px;
}
.custom_wrapper_discoun_box .cart-discounts-box.open .discount-toggle svg {
    transform: rotate(360deg);
}
.custom_wrapper_discoun_box .discount-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}

.custom_wrapper_discoun_box .discount-toggle svg {
  transition: transform 0.3s ease;
}

.custom_wrapper_discoun_box .cart-discounts-box .discount-toggle svg {
  transform: rotate(180deg);
}

.custom_wrapper_discoun_box .cart-discounts-list {
    list-style: none;
    margin: 0;
    margin: 10px 0 0;
    padding: 0;
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0px 10px 15px;
    margin: 0;

}

.custom_wrapper_discoun_box .cart-discounts-box.open .cart-discounts-list {
    border-top: 1px solid #58B44E;
}
.custom_wrapper_discoun_box .cart-discounts-box:not(.open) .cart-discounts-list {
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.custom_wrapper_discoun_box .cart-discount-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:10px;
 
}

.custom_wrapper_discoun_box .cart-discount-item:first-child {
  border-top: none;
   margin-top:15px;
}

.custom_wrapper_discoun_box .discount-title {
    font-weight: 600;
    font-size: 14px;
    font-family: 'Poppins' !important;
}

.custom_wrapper_discoun_box .discount-amount {
    color: #58B44E;
    font-weight: 600;
    margin-right: 9px;
    font-size: 14px;
    font-family: 'Poppins';
}
.wrpper_text_andremove_iocn {
    display: flex
;
    align-items: center;
}

.custom_wrapper_discoun_box .cart-discount-remove {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}


.custom_wrapper_discoun_box {
    padding: 0 20px;
}





/* Boxses Discount Applyed */
.custom_discount_wrapper_main_cards {
    padding: 0 20px;
}
.custom_discount_wrapper_main_cards .custom-discount-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 20px auto;
}

.custom_discount_wrapper_main_cards .discount-card {
    background-color: #EFF8EE;
    border-radius: 5px;
    
    display: flex
;
    flex-direction: column;
}
.custom_discount_wrapper_main_cards .discount-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.custom_discount_wrapper_main_cards .discount-body {
    display: flex
;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #58B44E;
    padding: 15px 12px;
}
.custom_discount_wrapper_main_cards .discount-body div:first-child {
  font-weight: bold;
}

.custom_discount_wrapper_main_cards .apply-discount-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  width:81px;
}

.custom_discount_wrapper_main_cards .apply-discount-btn:hover {
  background-color: #333;
}

.custom_discount_wrapper_main_cards .order_text {
    font-size: 12px;
    font-weight: 500;
}


.custom_discount_wrapper_main_cards .discount-header span.text_ {
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
}

.custom_discount_wrapper_main_cards .discount-header {
    display: flex
;
    align-items: center;
    gap: 10px;
    padding: 15px 12px;
    margin: 0;
}



.remove_discount_popups .modal {
      background: #fff;
      border-radius: 5px 5px 0px 0px;
      width: 400px;
      padding: 23px 30px;
      position: relative;
      box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    }

    .remove_discount_popups .modal-close {
      position: absolute;
      top: 25px;
      right: 16px;
      font-size: 20px;
      cursor: pointer;
      border: none;
      background: transparent;
    }

    .remove_discount_popups .modal-title {
      font-family: 'Archivo', sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 12px;
      color: #000;
    }

    .remove_discount_popups .modal-description {
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      color: #000;
      line-height: 1.6;
      margin-bottom: 24px;
    }

    .remove_discount_popups .modal-description b {
      font-weight: bold;
    }

    .remove_discount_popups .modal-buttons {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .remove_discount_popups .modal-button {
      height: 54px;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s ease;
    }

    .remove_discount_popups .modal-button.primary {
      background-color: #000000;
      color: white;
      border: none;
    }

    .remove_discount_popups .modal-button.secondary {
      background-color: white;
      color: #000000;
      border: 2px solid #000;
    }

    .remove_discount_popups .modal-button.secondary:hover {
      background-color: #f0f0f0;
    }
    .remove_discount_popups {
    position: absolute;
    z-index: 99999999;
    background: #000000ad;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.wrapper_remove_discount {
    position: absolute;
    bottom: 0;
}
/*End Boxses Discount Applyed */

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

  $(document).on('click', '.custom_discount_wrapper .discount-toggle', function(){

    $('.disount_popup').show();
});
$(document).on('click', 'span.back_svg_dis', function(){
    $('.disount_popup').hide();
});
$(document).on('click', '.footer_price_popup', function(){
    $(this).hide();
});
$(document).on('click', '.footer_price_popup_wrapper', function(e) {
    e.stopPropagation();
});
$(document).on('click', '.remove_discount_popups .modal-close', function(){
    $('.remove_discount_popups').hide()
});
$(document).on('click', '.remove_discount_popups', function(){
        $(this).hide()
    });
$(document).on('click', '.wrapper_remove_discount', function(e){
         e.stopPropagation();
    });
// Refresh function
function refreshCartDrawer() {
  fetch(window.location.pathname + "?sections=custom_cart_drawer")
    .then(res => res.json())
    .then(data => {
      const tempDiv = document.createElement('div');
      tempDiv.innerHTML = data["custom_cart_drawer"];

      const newDrawerContent = tempDiv.querySelector(".custom_cart_drawer");
      const oldDrawer = document.querySelector(".custom_cart_drawer");

      if (newDrawerContent && oldDrawer) {
        oldDrawer.innerHTML = newDrawerContent.innerHTML;

        // Optional: Reinitialize JS components inside the drawer
        initCartDrawerComponents();
      }
    })
    .catch(err => console.error("Error refreshing cart drawer:", err));
}

// Click listener
document.addEventListener('click', function(e) {
  if (e.target.closest('span.back_svg_dis')) {
    refreshCartDrawer();
  }
});

// Example function to reinit any JS inside the drawer after refresh
function initCartDrawerComponents() {
  // e.g., reinit Swiper sliders, click handlers, etc.
  if (window.swiperInstance) {
    window.swiperInstance.destroy(true, true);
  }
  window.swiperInstance = new Swiper('.custom_cart_upsell .mySwiper', {
    slidesPerView: 1.5,
    spaceBetween: 7,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    loop: true,
  });
}


  // Optional: initial refresh
 
{% comment %} document.addEventListener("click", function(e) {
  if (e.target.closest(".wrapper_disound_widget_main")) {
    document.querySelectorAll(".discount-input").forEach(function(el) {
      el.style.display = "block";
    });
  }
}); {% endcomment %}
document.addEventListener("click", function(e) {
  if (e.target.closest(".wrapper_disound_widget_main")) {
    document.querySelectorAll(".discount-input").forEach(function(el) {
      if (el.style.display === "none" || getComputedStyle(el).display === "none") {
        el.style.display = "block"; // show
      }
    });
  }
});

document.addEventListener("click", function(e) {
  const header = e.target.closest(".cart-discounts-header");
  if (header) {
    const box = header.closest(".cart-discounts-box");
    box.classList.toggle("open");
  }
});


 // Open popup and set discount value
  setInterval(() => {
  document.addEventListener('click', function(e) {
    const btn = e.target.closest('.cart-discount-remove');
    if (!btn) return;

    e.preventDefault();

    const discount = btn.getAttribute('data-discount');
    const popup = document.querySelector('.remove_discount_popups');
    const yesBtn = popup.querySelector('.modal-button.primary');

    if (popup && yesBtn) {
      yesBtn.setAttribute('data-discount', discount);
      popup.style.display = 'block';
    }
  });

  // Close popup
  function closeModal() {
    document.querySelector('.remove_discount_popups').style.display = 'none';
  }

  // Secondary button click → close popup
  document.querySelector('.modal-button.secondary').addEventListener('click', closeModal);

  // Primary button click → remove discount
  document.querySelector('.modal-button.primary').addEventListener('click', async function() {
    const discountCode = this.getAttribute('data-discount');
    if (!discountCode) return;

    try {
      // 1️⃣ Get current cart
      const cart = await fetch('/cart.js').then(res => res.json());

      // 2️⃣ Keep all codes except the one to remove
      const remainingCodes = cart.discount_codes
        .map(d => d.code)
        .filter(code => code.toUpperCase() !== discountCode.toUpperCase());

      // 3️⃣ Update cart with remaining discounts
      await fetch('/cart/update.js', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ discount: remainingCodes.join(',') }),
      });

      // 4️⃣ Reload page/drawer
      {% comment %} location.reload(); {% endcomment %}
      setTimeout(() => {
      refreshDiscountBox();
         },1000);
              setTimeout(() => {
       refreshDiscountPopup();
             },1000);
    } catch (err) {
      console.error('❌ Error removing discount:', err);
    }
  });
  },5000);













// ==============================
// Apply Discount (Hide Card)
// ==============================
async function applyDiscountAdditive(newCode) {
  try {
    const cart = await fetch('/cart.js').then(res => res.json());

    const existingCodes = cart.discount_codes.map(d => d.code.toUpperCase());
    if (!existingCodes.includes(newCode.toUpperCase())) {
      existingCodes.push(newCode.toUpperCase());
    }

    await fetch('/cart/update.js', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ discount: existingCodes.join(',') })
    });

    console.log('Discount applied:', newCode);

    // ✅ Hide the applied discount card
    const card = document.querySelector(`.discount-card button[cupoun_code="${newCode}"]`)?.closest(".discount-card");
    if (card) {
      card.style.display = "none";
    }

    // Refresh box and popup
    setTimeout(() => {
      refreshDiscountBox();
      refreshDiscountPopup();
    }, 500);

  } catch (err) {
    console.error('Error applying discount:', err);
  }
}

// Attach click to all discount buttons
document.querySelectorAll('.apply-discount-btn').forEach(button => {
  button.addEventListener('click', () => {
    const code = button.getAttribute('cupoun_code');
    if (!code) return;
    applyDiscountAdditive(code);
  });
});



async function applyDiscountAdditive(newCode) {
  if (!newCode.trim()) return alert('Please enter a discount code.');

  try {
    // 1️⃣ Get current cart
    const cart = await fetch('/cart.js').then(res => res.json());

    // 2️⃣ Check if discount is already applied
    const existingCodes = cart.discount_codes.map(d => d.code.toUpperCase());
    if (existingCodes.includes(newCode.toUpperCase())) {
      return alert('Discount already applied!');
    }

    // 3️⃣ Apply the new discount
    // Shopify only allows one discount at a time via this endpoint
    // So we need to use cart attributes or ask the customer to remove existing discounts first
    const response = await fetch('/discount/' + newCode, {
      method: 'GET',
      redirect: 'follow'
    });

    if (response.ok) {
      alert(`Discount "${newCode}" applied!`);
      console.log('Existing discounts:', existingCodes, 'New discount:', newCode);
      if (typeof refreshDiscountBox === 'function') refreshDiscountBox();
    } else {
      alert('Failed to apply discount. Please check the code.');
    }

  } catch (err) {
    console.error('Error applying discount:', err);
    alert('Failed to apply discount. Please try again.');
  }
}

// Bind to button
document.getElementById('applyDiscount').addEventListener('click', () => {
  const newDiscount = document.getElementById('discountField').value.trim();
  applyDiscountAdditive(newDiscount);
});



//boxes applied discont

// ==============================
// Apply Discount + Refresh
// ==============================
// ==============================
// Apply Discount + Refresh + Hide Card
// ==============================
// ==============================
// Apply Discount + Refresh + Remove Card
// ==============================
async function applyDiscountAdditive(newCode, clickedCard) {
  try {
    // 1️⃣ Get current cart
    const cart = await fetch('/cart.js').then(res => res.json());

    // 2️⃣ Get existing discount codes in original case
    const existingCodes = cart.discount_codes.map(d => d.code);

    // 3️⃣ Add new code if not already applied (case-insensitive check)
    if (!existingCodes.some(c => c.toUpperCase() === newCode.toUpperCase())) {
      existingCodes.push(newCode); // keep original casing
    }

    // 4️⃣ Update cart with all codes
    const formData = { discount: existingCodes.join(',') };
    await fetch(window.Shopify.routes.root + 'cart/update.js', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(formData)
    });

    // 5️⃣ Immediately remove the clicked card
    if (clickedCard) {
      clickedCard.remove();
    }

    // 6️⃣ Refresh discount sections
    setTimeout(() => refreshDiscountBox(existingCodes), 800);
    setTimeout(() => refreshDiscountPopup(existingCodes), 800);

  } catch (err) {
    console.error('❌ Error applying discount:', err);
  }
}

// ==============================
// Event Delegation for buttons
// ==============================
document.addEventListener('click', (e) => {
  const btn = e.target.closest('.apply-discount-btn');
  if (btn) {
    const code = btn.getAttribute('cupoun_code');
    const card = btn.closest('.discount-card');
    if (code) {
      applyDiscountAdditive(code, card);
    }
  }
});

// ==============================
// Refresh Discount Box (removes applied cards too)
// ==============================
async function refreshDiscountBox(appliedCodes = []) {
  try {
    const res = await fetch(window.location.pathname + "?sections=custom_cart_drawer");
    const data = await res.json();
    const parser = new DOMParser();
    const html = parser.parseFromString(data.custom_cart_drawer, "text/html");

    const oldBox = document.querySelector(".custom_wrapper_discoun_box");
    const newBox = html.querySelector(".custom_wrapper_discoun_box");

    if (newBox) {
      // Remove any card with already applied discounts
      newBox.querySelectorAll(".discount-card").forEach(card => {
        const btn = card.querySelector(".apply-discount-btn");
        const code = btn?.getAttribute("cupoun_code");
        if (code && appliedCodes.some(c => c.toUpperCase() === code.toUpperCase())) {
          card.remove();
        }
      });
    }

    if (oldBox && newBox) {
      oldBox.replaceWith(newBox);
    } else if (oldBox && !newBox) {
      oldBox.remove();
    } else if (!oldBox && newBox) {
      document.body.appendChild(newBox);
    }

  } catch (err) {
    console.error("❌ Error refreshing discount box:", err);
  }
}

// ==============================
// Refresh Discount Popup (removes applied cards too)
// ==============================
async function refreshDiscountPopup(appliedCodes = []) {
  try {
    const res = await fetch(window.location.pathname + "?sections=custom_cart_drawer");
    const data = await res.json();

    const parser = new DOMParser();
    const html = parser.parseFromString(data.custom_cart_drawer, "text/html");

    const newPopup = html.querySelector(".disount_popup");
    const oldPopup = document.querySelector(".disount_popup");

    if (newPopup) {
      // Remove any card with already applied discounts
      newPopup.querySelectorAll(".discount-card").forEach(card => {
        const btn = card.querySelector(".apply-discount-btn");
        const code = btn?.getAttribute("cupoun_code");
        if (code && appliedCodes.some(c => c.toUpperCase() === code.toUpperCase())) {
          card.remove();
        }
      });
    }

    if (newPopup && oldPopup) {
      oldPopup.innerHTML = newPopup.innerHTML;
    }

  } catch (err) {
    console.error("❌ Error refreshing discount popup:", err);
  }
}

// 1️⃣ Hide on clicking .modal-close
document.querySelectorAll('.remove_discount_popups .modal-close').forEach(btn => {
  btn.addEventListener('click', () => {
    const popup = document.querySelector('.remove_discount_popups');
    if (popup) popup.style.display = 'none';
  });
});

// 2️⃣ Hide when clicking outside the wrapper
const popup = document.querySelector('.remove_discount_popups');
if (popup) {
  popup.addEventListener('click', (e) => {
    const wrapper = popup.querySelector('.wrapper_remove_discount');
    if (!wrapper.contains(e.target)) {
      popup.style.display = 'none';
    }
  });
}

// 3️⃣ Optional: prevent clicks inside wrapper from closing
const wrapper = document.querySelector('.wrapper_remove_discount');
if (wrapper) {
  wrapper.addEventListener('click', (e) => {
    e.stopPropagation(); // Prevent bubbling to popup click
  });
}






</script>
